

<div class="container-fluid footer-panel">
  <div class="row footer-panel">

  </div>
  <div class="row footer-panel">
    <div id="footer-bottom-left-panel" class="footer-bottom-panel col col-lg-4">
      <ul id="footer-ul-list">
        <li>
          <img class="footer-logo" src="img/instagram.png" alt="">
        </li>
        <li>
          <img class="footer-logo" src="img/facebook.jpg" alt="">
        </li>
        <li>
          <img class="footer-logo" src="img/twitter.png" alt="">
        </li>
        <li>
          <img class="footer-logo" src="img/medium.png" alt="">
        </li>
      </ul>
    </div>
    <div id="footer-bottom-right-panel" class="footer-bottom-panel col col-lg-8">
      <ul id="footer-bottomrow-right-top" class="footer-bottom-panel">
        <li>Homes for Sale</li>
        <li class="footer-list-spacer">&#x25e6;</li>
        <li>Homes for Rent</li>
        <li class="footer-list-spacer">&#x25e6;</li>
        <li>Recently Sold Homes</li>
      </ul>
      <p class="footer-bottom-panel left-margin">Terms & Conditions & Privacy Policy</p>
      <p id="footer-disclaimer" class="footer-bottom-panel left-margin">This is not a real Compass website and is not to be used or conveyed as such.</p>
    </div>
  </div>

</div>
